spring: 
 datasource: 
   url: jdbc:mariadb://localhost:3306/productdb 
   username: root
   password:  
   driver-class-name: org.mariadb.jdbc.Driver
 
 jpa: 
   hibernate: 
     ddl-auto: validate 
 
 flyway: 
   enabled: true 
 
management:
  endpoint:
    health:
      show-details: always